# Gmail App Password for OTP emails
# To get an App Password:
# 1. Go to https://myaccount.google.com/security
# 2. Enable 2-Step Verification
# 3. Go to App Passwords (search "App Passwords" in Google Account)
# 4. Generate a new app password for "Mail"
# 5. Copy the 16-character password below

EMAIL_USER=nabaparnac@gmail.com
EMAIL_PASS=your-16-char-app-password
